<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.solvd.persistence.EmployeeRepository">
    <resultMap id="EmployeeResultMap" type="com.solvd.domain.Employee" autoMapping="false">
        <id property="id" column="employee_id"/>
        <result property="cuil" column="employee_cuil"/>
        <result property="firstName" column="employee_first_name"/>
        <result property="lastName" column="employee_last_name"/>
        <result property="address" column="employee_address"/>
        <result property="phone" column="employee_phone"/>
        <result property="email" column="employee_email"/>
        <result property="salary" column="employee_salary"/>
    </resultMap>

    <insert id="save" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
        Insert into employee (cuil, first_name, last_name, address, phone, email, salary)
        values (#{employee.cuil}, #{employee.firstName}, #{employee.lastName}, #{employee.address}, #{employee.phone}, #{employee.email},
        #{employee.salary})
    </insert>

    <sql id="selectEmployee">
        Select distinct
        e.id as employee_id,
        e.first_name as employee_first_name,
        e.last_name as employee_last_name,
        e.address as employee_address,
        e.phone as employee_phone,
        e.email as employee_email,
        e.salary as employee_salary
        from employee e
        left join event_employee ee on ee.employee_id = e.id
    </sql>

    <select id="findAll" resultMap="EmployeeResultMap">
        <include refid="selectEmployee"/>
    </select>

    <select id="findById" resultMap="EmployeeResultMap">
        <include refid="selectEmployee"/>
        where e.id = #{id}
    </select>

    <select id="findManyByColumn" resultMap="EmployeeResultMap">
        <include refid="selectEmployee"/>
        where e.${key} = #{value}
    </select>

    <select id="findOneByColumn" resultMap="EmployeeResultMap">
        <include refid="selectEmployee"/>
        where e.${key} = #{value} group by e.id
    </select>

    <delete id="deleteById">
        Delete from employee where id = #{id}
    </delete>

    <update id="updateById">
        Update employee set
        cuil = #{employee.cuil},
        first_name = #{employee.firstName},
        last_name = #{employee.lastName},
        address = #{employee.address},
        phone = #{employee.phone},
        email = #{employee.email},
        salary = #{employee.salary}
        where id = #{id}
    </update>

    <select id="findManyByEventId" resultMap="EmployeeResultMap">
        <include refid="selectEmployee"/>
        where ee.event_id = #{eventId}
    </select>
</mapper>