<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.solvd.persistence.EventEmployeeDAO">
    <resultMap id="EventEmployeeResultMap" type="com.solvd.domain.EventEmployee" autoMapping="false">
        <id property="id" column="id"/>
        <result property="role" column="role"/>
        <result property="employeeId" column="employee_id"/>
        <result property="eventId" column="event_id"/>
    </resultMap>

    <insert id="create" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
        Insert into event_employee (role, employee_id, event_id)
        values (#{eventEmployee.role}, #{eventEmployee.employeeId}, #{eventEmployee.eventId})
    </insert>

    <sql id="selectEventEmployee">
        Select
        ee.id as event_employee_id, ee.role as event_employee_role, ee.employee_id as event_employee_employee_id, ee.event_id as
        event_employee_event_id
        emp.id as employee_id, emp.first_name as employee_first_name, emp.last_name as employee_last_name, emp.address as employee_address,
        emp.phone as
        employee_phone, emp.email as employee_email, emp.salary as employee_salary,
        ev.id as event_id, ev.name as event_name, ev.theme as event_theme, ev.base_ticket_price as event_base_ticket_price, ev.start_date as
        event_start_date, ev.end_date as event_end_date, ev.address as event_address, ev.description as event_description
        from event_employee ee
        left join employee emp on emp.id = ee.employee_id
        left join event ev on ev.id = ee.event_id
    </sql>

    <select id="findAll">
        <include refid="selectEventEmployee"/>
    </select>

    <select id="findById">
        <include refid="selectEventEmployee"/>
        where ee.id = #{id}
    </select>

    <select id="findManyByColumn">
        <include refid="selectEventEmployee"/>
        where ee.#{key} = #{value}
    </select>

    <select id="findOneByColumn">
        <include refid="selectEventEmployee"/>
        where ee.#{key} = #{value}
    </select>

    <delete id="deleteById">
        Delete from event_employee where id = #{id}
    </delete>

    <update id="updateById">
        Update event_employee set
        role = #{event.role},
        employee_id = #{event.employeeId},
        event_id = #{event.eventId},
        where id = #{id}
    </update>
</mapper>