<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.solvd.persistence.EventDAO">
    <resultMap id="EventResultMap" type="com.solvd.domain.Event" autoMapping="false">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="theme" column="theme"/>
        <result property="baseTicketPrice" column="base_ticket_price"/>
        <result property="startDate" column="start_date"/>
        <result property="endDate" column="end_date"/>
        <result property="address" column="address"/>
        <result property="description" column="description"/>
        <collection property="rooms" columnPrefix="room_" resultMap="com.solvd.persistence.RoomDAO.RoomResultMap"/>
        <collection property="tickets" columnPrefix="ticket_" resultMap="com.solvd.persistence.TicketDAO.TicketResultMap"/>
        <collection property="employees" columnPrefix="event_employee_" resultMap="com.solvd.persistence.EventEmployeeDAO.EventEmployeeResultMap"/>
    </resultMap>

    <insert id="create" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
        Insert into event (name, theme, base_ticket_price, start_date, end_date, address, description)
        values (#{event.name}, #{event.theme}, #{event.baseTicketPrice}, #{event.startDate}, #{event.endDate}, #{event.address},
        #{event.description})
    </insert>

    <sql id="selectEvent">
        Select
        e.id as event_id, e.name as event_name, e.theme as event_theme, e.base_ticket_price as event_base_ticket_price, e.start_date as
        event_start_date, e.end_date as event_end_date, e.address as event_address, e.description as event_description,
        ee.id as event_employee_id, ee.role as event_employee_role, ee.employee_id as event_employee_employee_id, ee.event_id as
        event_employee_event_id
        from event e
        left join event_employee ee on e.id = ee.event_id
    </sql>

    <select id="findAll">
        <include refid="selectEvent"/>
    </select>

    <select id="findById">
        <include refid="selectEvent"/>
        where e.id = #{id}
    </select>

    <select id="findManyByColumn">
        <include refid="selectEvent"/>
        where e.#{key} = #{value}
    </select>

    <select id="findOneByColumn">
        <include refid="selectEvent"/>
        where e.#{key} = #{value}
    </select>

    <delete id="deleteById">
        Delete from event where id = #{id}
    </delete>

    <update id="updateById">
        Update event set
        name = #{event.name},
        theme = #{event.theme},
        base_ticket_price = #{event.baseTicketPrice},
        start_date = #{event.startDate},
        end_date = #{event.endDate},
        address = #{event.address},
        description = #{event.description}
        where id = #{id}
    </update>
</mapper>