<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.solvd.persistence.EventEmployeeDAO">
    <resultMap id="EventEmployeeResultMap" type="com.solvd.domain.EventEmployee" autoMapping="false">
        <id property="id" column="event_employee_id"/>
        <result property="role" column="event_employee_role"/>
        <association property="employeeId" column="employee_id"/>
        <association property="event" column="event_id"/>
    </resultMap>

    <insert id="save" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
        Insert into event_employee (role, employee_id, event_id)
        values (#{eventEmployee.role}, #{eventEmployee.employeeId}, #{eventEmployee.eventId})
    </insert>

    <sql id="selectEventEmployee">
        Select
        ee.id as event_employee_id, ee.role as event_employee_role, ee.employee_id as event_employee_employee_id,
        ee.event_id as event_employee_event_id
        from event_employee ee
    </sql>

    <select id="findAll" resultMap="EventEmployeeResultMap">
        <include refid="selectEventEmployee"/>
    </select>

    <select id="findById" resultMap="EventEmployeeResultMap">
        <include refid="selectEventEmployee"/>
        where ee.id = #{id}
    </select>

    <select id="findManyByColumn" resultMap="EventEmployeeResultMap">
        <include refid="selectEventEmployee"/>
        where ee.#{key} = #{value}
    </select>

    <select id="findOneByColumn" resultMap="EventEmployeeResultMap">
        <include refid="selectEventEmployee"/>
        where ee.#{key} = #{value}
    </select>

    <delete id="deleteById">
        Delete from event_employee where id = #{id}
    </delete>

    <update id="updateById">
        Update event_employee set
        role = #{eventEmployee.role},
        employee_id = #{eventEmployee.employeeId},
        event_id = #{eventEmployee.eventId},
        where id = #{id}
    </update>
</mapper>