<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.solvd.persistence.PresenterRepository">
    <resultMap id="PresenterResultMap" type="com.solvd.domain.Presenter" autoMapping="false">
        <id property="id" column="presenter_id"/>
        <result property="cuil" column="presenter_cuil"/>
        <result property="firstName" column="presenter_first_name"/>
        <result property="lastName" column="presenter_last_name"/>
        <result property="address" column="presenter_address"/>
        <result property="phone" column="presenter_phone"/>
        <result property="email" column="presenter_email"/>
        <result property="specialization" column="presenter_specialization"/>
    </resultMap>

    <insert id="save" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
        Insert into presenter (cuil, first_name, last_name, address, phone, email, specialization)
        values (#{presenter.cuil}, #{presenter.firstName}, #{presenter.lastName}, #{presenter.address}, #{presenter.phone}, #{presenter.email},
        #{presenter.specialization})
    </insert>

    <sql id="selectPresenter">
        Select
        p.id as presenter_id,
        p.first_name as presenter_first_name,
        p.last_name as presenter_last_name,
        p.address as presenter_address,
        p.phone as presenter_phone,
        p.email as presenter_email,
        p.specialization as presenter_specialization
        from presenter p
    </sql>

    <select id="findAll" resultMap="PresenterResultMap">
        <include refid="selectPresenter"/>
    </select>

    <select id="findById" resultMap="PresenterResultMap">
        <include refid="selectPresenter"/>
        where p.id = #{id}
    </select>

    <select id="findManyByColumn" resultMap="PresenterResultMap">
        <include refid="selectPresenter"/>
        where p.${key} = #{value}
    </select>

    <select id="findOneByColumn" resultMap="PresenterResultMap">
        <include refid="selectPresenter"/>
        where p.${key} = #{value}
    </select>

    <delete id="deleteById">
        Delete from presenter where id = #{id}
    </delete>

    <update id="updateById">
        Update presenter set
        cuil = #{presenter.cuil},
        first_name = #{presenter.firstName},
        last_name = #{presenter.lastName},
        address = #{presenter.address},
        phone = #{presenter.phone},
        email = #{presenter.email},
        specialization = #{presenter.specialization}
        where id = #{id}
    </update>
</mapper>