<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.solvd.persistence.RoomDAO">
    <resultMap id="RoomResultMap" type="com.solvd.domain.Room" autoMapping="false">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="surface" column="surface"/>
        <result property="capacity" column="capacity"/>
        <result property="status" column="status"/>
        <association property="event" resultMap="com.solvd.persistence.EventDAO.EventResultMap"/>
    </resultMap>

    <insert id="save" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
        Insert into room (name, surface, capacity, status, event_id)
        values (#{room.name}, #{room.surface}, #{room.capacity}, #{room.status}, #{room.event.getId()})
    </insert>

    <sql id="selectRoom">
        Select
        r.id as room_id,
        r.name as room_name,
        r.surface as room_surface,
        r.capacity as room_capacity,
        r.status as room_status,
        ev.id as event_id,
        ev.name as event_name,
        ev.theme as event_theme,
        ev.base_ticket_price as event_base_ticket_price,
        ev.start_date as event_start_date,
        ev.end_date as event_end_date,
        ev.address as event_address,
        ev.description as event_description,
        e.id as employee_id,
        e.first_name as employee_first_name,
        e.last_name as employee_last_name,
        e.address as employee_address,
        e.phone as employee_phone,
        e.email as employee_email,
        e.salary as employee_salary
        from room r
        left join event ev on r.event_id = ev.id
        left join event_employee ee on ee.event_id = ev.id
        left join employee e on ee.employee_id = e.id
    </sql>

    <select id="findAll" resultMap="RoomResultMap">
        <include refid="selectRoom"/>
    </select>

    <select id="findById" resultMap="RoomResultMap">
        <include refid="selectRoom"/>
        where r.id = #{id}
    </select>

    <select id="findManyByColumn" resultMap="RoomResultMap">
        <include refid="selectRoom"/>
        where r.${key} = #{value}
    </select>

    <select id="findOneByColumn" resultMap="RoomResultMap">
        <include refid="selectRoom"/>
        where r.${key} = #{value}
    </select>

    <delete id="deleteById">
        Delete from room where id = #{id}
    </delete>

    <update id="updateById">
        Update room set
        name = #{room.name},
        surface = #{room.surface},
        capacity = #{room.capacity},
        status = #{room.status},
        event_id = #{room.event.getId()}
        where id = #{id}
    </update>
</mapper>