<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.solvd.persistence.StandDAO">
    <resultMap id="StandResultMap" type="com.solvd.domain.Stand" autoMapping="false">
        <id property="id" column="stand_id"/>
        <result property="price" column="stand_price"/>
    </resultMap>

    <insert id="save" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
        Insert into stand (price, room_id)
        values (#{stand.price}, #{roomId})
    </insert>

    <sql id="selectStand">
        Select
        s.id as stand_id,
        s.price as stand_price
        from stand s
    </sql>

    <select id="findAll" resultMap="StandResultMap">
        <include refid="selectStand"/>
    </select>

    <select id="findById" resultMap="StandResultMap">
        <include refid="selectStand"/>
        where s.id = #{id}
    </select>

    <select id="findManyByColumn" resultMap="StandResultMap">
        <include refid="selectStand"/>
        where s.${key} = #{value}
    </select>

    <select id="findOneByColumn" resultMap="StandResultMap">
        <include refid="selectStand"/>
        where s.#{key} = #{value}
    </select>

    <delete id="deleteById">
        Delete from stand where id = #{id}
    </delete>

    <update id="updateById">
        Update stand set
        price = #{stand.price},
        room_id = #{stand.roomId},
        client_id = #{stand.clientId}
        where id = #{id}
    </update>

    <update id="addClient">
        Update stand set
        client_id = #{clientId}
        where id = #{standId}
    </update>
</mapper>