<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.solvd.persistence.StandDAO">
    <resultMap id="StandResultMap" type="com.solvd.domain.Stand" autoMapping="false">
        <id property="id" column="stand_id"/>
        <result property="price" column="stand_price"/>
        <association property="room" resultMap="com.solvd.persistence.RoomDAO.RoomResultMap"/>
        <association property="client" resultMap="com.solvd.persistence.ClientDAO.ClientResultMap"/>
    </resultMap>

    <insert id="save" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
        Insert into stand (price, room_id)
        values (#{stand.price}, #{stand.room.getId()})
    </insert>

    <sql id="selectStand">
        Select
        s.id as stand_id,
        s.price as stand_price,
        r.id as room_id,
        r.name as room_name,
        r.surface as room_surface,
        r.capacity as room_capacity,
        r.status as room_status,
        c.id as client_id,
        c.cuit as client_cuit,
        c.business_name as client_business_name,
        c.address as client_address,
        c.phone as client_phone,
        c.email as client_email,
        ev.id as event_id,
        ev.name as event_name,
        ev.theme as event_theme,
        ev.base_ticket_price as event_base_ticket_price,
        ev.start_date as event_start_date,
        ev.end_date as event_end_date,
        ev.address as event_address,
        ev.description as event_description,
        e.id as employee_id,
        e.first_name as employee_first_name,
        e.last_name as employee_last_name,
        e.address as employee_address,
        e.phone as employee_phone,
        e.email as employee_email,
        e.salary as employee_salary
        from stand s
        left join room r on s.room_id = s.id
        left join client c on s.client_id = c.id
        left join event ev on r.event_id = ev.id
        left join event_employee ee on ee.event_id = ev.id
        left join employee e on ee.employee_id = e.id
    </sql>

    <select id="findAll" resultMap="StandResultMap">
        <include refid="selectStand"/>
    </select>

    <select id="findById" resultMap="StandResultMap">
        <include refid="selectStand"/>
        where s.id = #{id}
    </select>

    <select id="findManyByColumn" resultMap="StandResultMap">
        <include refid="selectStand"/>
        where s.${key} = #{value}
    </select>

    <select id="findOneByColumn" resultMap="StandResultMap">
        <include refid="selectStand"/>
        where s.${key} = #{value}
    </select>

    <delete id="deleteById">
        Delete from stand where id = #{id}
    </delete>

    <update id="updateById">
        Update stand set
        price = #{stand.price},
        room_id = #{stand.room.getId()},
        client_id = #{stand.client.getId()}
        where id = #{id}
    </update>

    <update id="addClient">
        Update stand set
        client_id = #{clientId}
        where id = #{standId}
    </update>

    <update id="removeClient">
        Update stand set
        client_id = NULL
        where id = #{standId}
    </update>
</mapper>