<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.solvd.persistence.TicketDAO">
    <resultMap id="TicketResultMap" type="com.solvd.domain.Ticket" autoMapping="false">
        <id property="id" column="ticket_id"/>
        <result property="cost" column="ticket_cost"/>
        <collection property="presentations" resultMap="com.solvd.persistence.PresentationDAO.PresentationResultMap"/>
    </resultMap>

    <insert id="save" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
        Insert into ticket (cost, event_id, attendee_id, buyer_id)
        values (#{ticket.cost}, #{eventId}, #{attendeeId}, #{buyerId})
    </insert>

    <sql id="selectTicket">
        Select
        t.id as ticket_id, t.cost as ticket_cost, t.event_id as ticket_event_id, t.attendee_id as ticket_attendee_id, t.buyer_id as ticket_buyer_id,
        pt.id as presentation_ticket_id, pt.presentation_id as presentation_ticket_presentation_id, pt.ticket_id as presentation_ticket_ticket_id,
        p.id as presentation_id, p.name as presentation_name, p.description as presentation_description, p.start_datetime as
        presentation_start_datetime, p.end_datetime as presentation_end_datetime, p.ticket_price as presentation_ticket_price, p.room_id as
        presentation_room_id, p.presenter_id as presentation_presenter_id
        from ticket t
        left join presentation_ticket pt on t.id = pt.ticket_id
        left join presentation p on p.id = pt.presentation_id
    </sql>

    <select id="findAll" resultMap="TicketResultMap">
        <include refid="selectTicket"/>
    </select>

    <select id="findById" resultMap="TicketResultMap">
        <include refid="selectTicket"/>
        where t.id = #{id}
    </select>

    <select id="findManyByColumn" resultMap="TicketResultMap">
        <include refid="selectTicket"/>
        where t.#{key} = #{value}
    </select>

    <select id="findOneByColumn" resultMap="TicketResultMap">
        <include refid="selectTicket"/>
        where t.#{key} = #{value}
    </select>

    <delete id="deleteById">
        Delete from ticket where id = #{id}
    </delete>

    <update id="updateById">
        Update ticket set
        cost = #{ticket.cost},
        event_id = #{ticket.eventId},
        attendee_id = #{ticket.attendeeId},
        buyer_id = #{ticket.buyerId}
        where id = #{id}
    </update>

    <insert id="addPresentation" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
        Insert into presentation_ticket (ticket_id, presentation_id)
        values (#{ticketId}, #{presentationId})
    </insert>
</mapper>