<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.solvd.persistence.VisitorDAO">
    <resultMap id="VisitorResultMap" type="com.solvd.domain.Visitor" autoMapping="false">
        <id property="id" column="id"/>
        <result property="cuil" column="cuil"/>
        <result property="firstName" column="first_name"/>
        <result property="lastName" column="last_name"/>
        <result property="address" column="address"/>
        <result property="phone" column="phone"/>
        <result property="email" column="email"/>
        <collection property="attendeeTickets" columnPrefix="attendee_ticket_"
                    resultMap="com.solvd.persistence.TicketDAO.TicketResultMap"/>
        <collection property="buyerTickets" columnPrefix="buyer_ticket_"
                    resultMap="com.solvd.persistence.TicketDAO.TicketResultMap"/>
    </resultMap>

    <insert id="create" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
        Insert into visitor (cuil, first_name, last_name, address, phone, email)
        values (#{visitor.cuil}, #{visitor.firstName}, #{visitor.lastName}, #{visitor.address}, #{visitor.phone}, #{visitor.email})
    </insert>

    <sql id="selectVisitor">
        Select
        v.id as visitor_id, v.first_name as visitor_first_name, v.last_name as visitor_last_name, v.address as visitor_address, v.phone as
        visitor_phone, v.email as visitor_email,
        at.id as attendee_ticket_id, at.cost as attendee_ticket_cost, at.event_id as attendee_ticket_event_id, at.attendee_id as
        attendee_ticket_attendee_id, at.buyer_id as attendee_ticket_buyer_id,
        bt.id as buyer_ticket_id, bt.cost as buyer_ticket_cost, bt.event_id as buyer_ticket_event_id, bt.attendee_id as
        buyer_ticket_attendee_id, bt.buyer_id as buyer_ticket_buyer_id,
        from visitor v
        left join ticket at on v.id = at.attendee_id
        left join ticket bt on v.id = bt.buyer_id
    </sql>

    <select id="findAll">
        <include refid="selectVisitor"/>
    </select>

    <select id="findById">
        <include refid="selectVisitor"/>
        where v.id = #{id}
    </select>

    <select id="findManyByColumn">
        <include refid="selectVisitor"/>
        where v.#{key} = #{value}
    </select>

    <select id="findOneByColumn">
        <include refid="selectVisitor"/>
        where v.#{key} = #{value}
    </select>

    <delete id="deleteById">
        Delete from visitor where id = #{id}
    </delete>

    <update id="updateById">
        Update visitr set
        cuil = #{visitor.cuil},
        first_name = #{visitor.firstName},
        last_name = #{visitor.lastName},
        address = #{visitor.address},
        phone = #{visitor.phone},
        email = #{visitor.email}
        where id = #{id}
    </update>
</mapper>