<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.solvd.persistence.VisitorDAO">
    <resultMap id="VisitorResultMap" type="com.solvd.domain.Visitor" autoMapping="false">
        <id property="id" column="visitor_id"/>
        <result property="cuil" column="visitor_cuil"/>
        <result property="firstName" column="visitor_first_name"/>
        <result property="lastName" column="visitor_last_name"/>
        <result property="address" column="visitor_address"/>
        <result property="phone" column="visitor_phone"/>
        <result property="email" column="visitor_email"/>
    </resultMap>

    <insert id="save" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
        Insert into visitor (cuil, first_name, last_name, address, phone, email)
        values (#{visitor.cuil}, #{visitor.firstName}, #{visitor.lastName}, #{visitor.address}, #{visitor.phone}, #{visitor.email})
    </insert>

    <sql id="selectVisitor">
        Select
        v.id as visitor_id,
        v.first_name as visitor_first_name,
        v.last_name as visitor_last_name,
        v.address as visitor_address,
        v.phone as visitor_phone,
        v.email as visitor_email
        from visitor v
    </sql>

    <select id="findAll" resultMap="VisitorResultMap">
        <include refid="selectVisitor"/>
    </select>

    <select id="findById" resultMap="VisitorResultMap">
        <include refid="selectVisitor"/>
        where v.id = #{id}
    </select>

    <select id="findManyByColumn" resultMap="VisitorResultMap">
        <include refid="selectVisitor"/>
        where v.${key} = #{value}
    </select>

    <select id="findOneByColumn" resultMap="VisitorResultMap">
        <include refid="selectVisitor"/>
        where v.${key} = #{value}
    </select>

    <delete id="deleteById">
        Delete from visitor where id = #{id}
    </delete>

    <update id="updateById">
        Update visitor set
        cuil = #{visitor.cuil},
        first_name = #{visitor.firstName},
        last_name = #{visitor.lastName},
        address = #{visitor.address},
        phone = #{visitor.phone},
        email = #{visitor.email}
        where id = #{id}
    </update>
</mapper>